.footer {
  background: radial-gradient(circle at top, #2b145f, #12002a);
  padding: 80px 60px 20px;
  color: white;
  position: relative;
  overflow: hidden;
}

.footer::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 120px;
  background: url("/decorations.svg") repeat-x;
  opacity: 0.15;
}

.footer-logo {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 10px;
}

.footer-title {
  font-weight: 600;
  margin-bottom: 16px;
}

.footer-text {
  font-size: 14px;
  opacity: 0.8;
}

.footer ul {
  list-style: none;
  padding: 0;
}

.footer li {
  margin-bottom: 10px;
  font-size: 14px;
  opacity: 0.8;
}

.newsletter {
  margin-top: 20px;
  display: flex;
  background: white;
  border-radius: 30px;
  overflow: hidden;
}

.newsletter input {
  border: none;
  padding: 12px;
  flex: 1;
  outline: none;
}

.footer-bottom {
  text-align: center;
  margin-top: 60px;
  font-size: 13px;
  opacity: 0.6;
  background-image: url("../../../assets/footer.jpg");
}
